<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VortexView</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/VortexView.css') }}">
</head>
<body>
    <header>
        <div class="logo">VortexView</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#why-it-matters">Why It Matters</a></li>
                <li><a href="#future-goals">Future Goals</a></li>
                <li><a href="#feedback">Feedback</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 VortexView. All Rights Reserved.</p>
    </footer>
</body>
</html>