<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VortexView-Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div className="login-page user-login">
        <div className="login-content">
          <h2>Login</h2>
          <form>
            <div className="input-group">
              <label htmlFor="username">Username:</label>
              <input type="text" id="username" name="username" required/>
            </div>
            <div className="input-group">
              <label htmlFor="password">Password:</label>
              <input type="password" id="password" name="password" required/>
            </div>
            <div className="button-group">
              <button type="submit">Login</button>
              <button type="button" onClick="">Register</button>
            </div>
          </form>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>